[defaults]
inventory = inventory
roles_path = roles
interpreter_python = auto_silent
retry_files_enabled = false
display_skipped_hosts = false
host_key_checking = true
nocows = 1
stdout_callback = default

[privilege_escalation]
become_method = sudo
