---
mail:
  hosts:
    my.mail.server:
      ansible_host: 192.0.2.10
  vars:
    ansible_connection: ssh
    ansible_user: root
    mail_hostname: mail
    mail_domain: example.com
    mail_user: mail
