---
# Tasks file for rspamd

- name: Add the rspamd apt key
  apt_key:
    url: https://rspamd.com/apt-stable/gpg.key
    state: present

- name: Add rspamd repository
  apt_repository:
    repo: "deb http://rspamd.com/apt-stable/ bullseye main"
    state: present

- name: Install packages
  apt:
    state: latest
    pkg:
      - rspamd
      - redis-server
    update_cache: yes

- name: Template worker-controller.inc
  template:
    src: templates/worker-controller.j2
    dest: /etc/rspamd/local.d/worker-proxy.inc
  tags: rspamd

- name: Copy classifier-bayes.conf
  copy:
    src: files/classifier-bayes.conf
    dest: /etc/rspamd/local.d/classifier-bayes.conf
  tags: rspamd

- name: Copy logging.inc
  copy:
    src: files/logging.inc
    dest: /etc/rspamd/local.d/logging.inc
  tags: rspamd

- name: Copy milter_headers.conf
  copy:
    src: files/milter_headers.conf
    dest: /etc/rspamd/local.d/milter_headers.conf
  tags: rspamd

- name: Copy options.inc
  copy:
    src: files/options.inc
    dest: /etc/rspamd/local.d/options.inc
  tags: rspamd

- name: Copy worker-normal.inc
  copy:
    src: files/worker-proxy.inc
    dest: /etc/rspamd/local.d/worker-proxy.inc
  tags: rspamd

- name: Create directory for dkim
  file:
    path: /var/lib/rspamd/dkim/
    state: directory

- name: Check if a dkim key exists
  stat:
    path: /var/lib/rspamd/dkim/dkim_key.key
  register: dkim_key

- block:
  - name: Generate dkim private key
    shell: rspamadm dkim_keygen -b 2048 -s dkim_key -k /var/lib/rspamd/dkim/dkim_key.key > /var/lib/rspamd/dkim/dkim_key.txt
  - name: Get dkim public key
    command: cat /var/lib/rspamd/dkim/dkim_key.txt
    register: dkim_public
  - name: Show dkim public key
    debug:
      msg: "{{dkim_public.stdout}}"
  when: dkim_key.stat.exists == false or rspamd_recreate_dkim_key == true

- name: Chown dkim files
  file:
    path: /var/lib/rspamd/dkim/
    state: directory
    recurse: yes
    owner: _rspamd
    group: _rspamd
    mode: "0440"
  tags: rspamd

- name: Copy arc.conf
  copy:
    src: files/arc.conf
    dest: /etc/rspamd/local.d/arc.conf
    owner: _rspamd
    group: _rspamd
    mode: "0440"
  tags: rspamd

- name: Copy dkim_signing.conf
  copy:
    src: files/dkim_signing.conf
    dest: /etc/rspamd/local.d/dkim_signing.conf
    owner: _rspamd
    group: _rspamd
    mode: "0440"
  tags: rspamd

- name: Copy redis.conf
  copy:
    src: files/redis.conf
    dest: /etc/rspamd/local.d/redis.conf
    owner: _rspamd
    group: _rspamd
    mode: "0440"
  tags: redis

- name: Reload Rspamd
  command: systemctl reload rspamd
  tags: rspamd
